
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);
   
}


.antitle{
    background-color: transparent;
    display: inline-block;
}

.information{
    position: relative;
    padding-top: 10px;
    padding-left: 50px;
    justify-content: baseline;
    text-align: justify;
    width: 700px ;
    height: 100px ;
    font-family: "Open Sans", system-ui;
    animation: slide 1s, alphatext 1s;
    animation-fill-mode:forwards;
}
#ftext{
    position: relative;
    border: 1px solid;
    padding: 1em;
    border-radius: 5px;
}

p{
    font-size: 20px;
}
.contenedor{
    position: relative;
    margin-top: 10%;
    padding-bottom: 30px;
    position: relative;
    padding-top: 150px;
    padding-left: 240px;
    justify-content: baseline;
    text-align: justify;
    width: 1200px ;
    height: 100px ;
    font-family: "Open Sans", system-ui;
    animation: slide 2s, alphatext 1s;
    animation-fill-mode:forwards;
}

h1,h4{
    position: relative;
    padding-left: 50px;
    padding-top: 90px;
    font-size: 50px;
    font-family: "Open Sans", system-ui;  
    animation: slide 1s, alphatext 0.8s;
    animation-fill-mode: forwards;
    background-color: transparent;
}
h4{
    margin-bottom: 10px;
    margin-top: -70px;
}
.objetivos{
    padding-left: 20%;
}


@keyframes slide{
    0%{transform: translateX(-50px);}
    100%{transform: translateX(0px);}
}

@keyframes alphatext{
    0%{opacity: 0;}
    100%{opacity: 1;}
}






    

